{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Marketplaces and Products</h1>
<div class="row">
  <div class="col">
    <a class="btn btn-primary" href="/marketplace">Create Marketplace</a>
    <a class="btn btn-primary" href="/product">Create Products</a>
  </div>
</div>
{% endblock content %}
