{% extends 'base.html' %} {% block content %}

<h3>Marketplaces</h3>
<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
  </tr>
  {% for marktplaces in list%}
  <tr>
        <td>{{marktplaces.id}}</td>
        <td>{{marktplaces.name}}</td>
        <td>{{marktplaces.description}}</td>
        <td> <a href="/marketplace/update/form?id={{marktplaces.id}}"><i class="fas fa-pen" ></i></a> </td>
        <td> <a href="/marketplace/delete?id={{marktplaces.id}}"><i class="fa fa-trash" ></i></a> </td>
  </tr>
  {% endfor %}
</table>
<a class="btn btn-primary" href="/">Back</a>
{% endblock %}