{% extends "base.html" %} {% block content %}
<h1>Product's List</h1>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    {% for product in product_list%}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{ "R$ %.2f"|format(product.price|float) }}</td>
      <td>
        <a href="/product/update?id={{ product.id }}&name={{ product.name }}&description={{ product.description }}&price={{ product.price }}">
          <i class="fas fa-pen"></i>
        </a>
      </td>
      <td>
        <a href="/product/delete?id={{ product.id }}">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="/">Back</a>
{% endblock %}
