{% extends "base.html" %}

{% block content %}
<h1>Seller's List</h1>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>e-mail</th>
        <th></th>
        <th></th>
    </tr>
    {% for seller in seller_list %}
    <tr>
      <td>{{ seller.id }}</td>
      <td>{{ seller.name }}</td>
      <td>{{ seller.phone }}</td>
      <td>{{ seller.mail }}</td>
      <td> <a href="/seller/update/form?id={{seller.id}}&name={{seller.name}}&phone={{seller.phone}}&mail={{seller.mail}}"><i class="fas fa-pen" ></i></a> </td>
      <td> <a href="/seller/delete?id={{seller.id}}"><i class="fa fa-trash" ></i></a> </td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="/">Back</a>
{% endblock %}
