{% extends "base.html" %}

{% block content %}
<h1>Log's List</h1>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Datetime</th>
        <th>Description</th>
    </tr>
    {% for log in log_list%}
    <tr>
      {% if "Created" in log.message %}
        <td style="background:#388e3c" >{{log.id}}</td>
        <td style="background:#388e3c" >{{log.date}}</td>
        <td style="background:#388e3c" >{{log.message}}</td>
      {% elif "Listed" in log.message  or "Listing" in log.message %}
        <td style="background:#0277bd" >{{log.id}}</td>
        <td style="background:#0277bd" >{{log.date}}</td>
        <td style="background:#0277bd" >{{log.message}}</td>
      {% elif "Updated" in log.message %}
        <td style="background:pink" >{{log.id}}</td>
        <td style="background:pink" >{{log.date}}</td>
        <td style="background:pink" >{{log.message}}</td>
      {% elif "Read" in log.message %}
        <td style="background:yellow" >{{log.id}}</td>
        <td style="background:yellow" >{{log.date}}</td>
        <td style="background:yellow" >{{log.message}}</td>
      {% elif "Deleted" in log.message or "Deleting" in log.message %}
        <td style="background:red" >{{log.id}}</td>
        <td style="background:red" >{{log.date}}</td>
        <td style="background:red" >{{log.message}}</td>

      {% endif %}    
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="/">Back</a>
{% endblock %}