{% extends "base.html" %} {% block content %}
<h1>New Product</h1>
<form action="/product/create" method="get">
  <div class="row">
    <div class="input-group mb-3">
      <input
        type="text"
        placeholder="Name"
        class="form-control"
        name="name"
        id="name"
        aria-label="Name"
      />
      <span class="input-group-text">R$</span>
      <input
        type="number"
        placeholder="0.00"
        class="form-control"
        name="price"
        id="price"
        aria-label="Price"
      />
    </div>
    <div class="col-sm mb-4">
      <label for="name" class="form-label">Description</label>
      <textarea
        class="form-control"
        rows="4"
        name="description"
        id="description"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <input id="submit" type="submit" class="btn btn-primary" value="Submit" />
    <a class="btn btn-primary" href="/">Back</a>
  </div>
</form>
{% endblock %}
