{% extends 'template.html' %}
{% block body %}
{% if edit %}
<h1>'Update Seller'</h1>
<form action="/sellers/update" method="post">
    <label>
        Fullname:
    </label>
    <input name="fullname" value="{{ seller.fullname }}" type="text"/>
    <label>
        E-mail:
    </label>
    <input name="email" value="{{ seller.email }}" type="text"/>
    <label>
        Phone:
    </label>
    <input name="phone_number" value="{{ seller.phone }}" type="number"/>
    <input name="id" value="{{ seller.id }}" type="hidden"/>
    <input required type="submit" value="save"/>
</form>
{% else %}
<h1>'Create Seller'</h1>
<form action="/sellers/create" method='POST'>
    <label>
        Fullname:
    </label>
    <input name="fullname" type="text"/>
    <label>
        E-mail:
    </label>
    <input name="email" type="text"/>
    <label>
        Phone:
    </label>
    <input name="phone_number" type="number"/>
    <input required type="submit" value="save"/>
</form>
{% endif %}
{% endblock %}