{% extends 'layout.html' %}
{% block content %}
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-20" src="{{ url_for('static', filename='olist.png') }}"
                 alt="olist">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Sellers Alchemy
            </h2>
        </div>
        <button type="button" onclick="window.location.href='/seller'"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            List Sellers
        </button>
        <button type="button" onclick="window.location.href='/seller/create'"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            New Seller
        </button>
    </div>
{% endblock %}